<div id="<%= dom_id(drill_group) %>">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>
        <%= drill_group.name %>
      </h1>
        <span class="pull-right">
          <%= link_to "View", drill_group_path(drill_group), remote: true, class: "btn btn-default" %>
          <%= link_to "Edit", edit_drill_group_path(drill_group), class: "btn btn-default" %>
          <%= link_to "Delete", drill_group_path(drill_group), method: :delete, data: { confirm: "Are you sure? Deleting this Drill Group is permanent and cannot be undone." }, remote: true, class: "btn btn-danger" %>
        </span>
    </div>
  </div>
</div>