<% if user_signed_in? %>
	<h1>All Users</h1>
  <% @users.each do |u| %>
    <% if u != current_user %>
      <div class="well" id="<%= dom_id(u) %>">
      <h2><%= u.email %></h2>
      <p> <%= u.full_name %> </p>
      <%= link_to "Delete User", user_path(u), method: :delete, remote: true, class: "btn btn-danger" %>
      <% if u.is_admin? %>
        <%= link_to "Undo Admin", toggle_path(u.id), method: :patch, remote: true, class: "btn btn-info removeAdmin" %>
      <% else %>
        <%= link_to "Make Admin", toggle_path(u.id), method: :patch, remote: true, class: "btn btn-warning addAdmin" %>
      <% end %>
      </div>
    <% end %>
  <% end %>

<% elsif user_signed_in? %>

  <h1> Sorry, you must be an admin user to access this page </h1> 

<% end %>

