<div class="jumbotron">

  <div class="col-md-5 homesplash medium-text white-text">
    

    <div class="large-text">Welcome to Codecore Drills, </div>

        <hr>
  
    a place to hone your programming
    skills doing a bunch of sweet drills.

  </div>

  <div class="col-md-6 homesplash text-center">
    <%= image_tag ("codecore_drill.png") %>
  </div>

  <div class="login">
    <%= simple_form_for @user = User.new, url: sessions_path do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.submit "Sign In", class: "logsubmit" %>
    <% end %>
  </div>

</div>