

<div class="aboutjumbotron">
<div class="container">
  <div class="calltoaction">
    <h2> CodeCore Drills Project </h2>
    <h5> A Group project made by Group B of the CC Cohort 6</h5> 
  </div>
  </div>
</div>


  

  <div class="teamroster col-md-12">
      <h3> The Team </h3>

      <div class="teammember col-md-4">
        <%= image_tag ("profile_pics/ishan.jpg"), class: "img-circle profile" %>
        <div class="info">
        <h5>Derek</h5>
            <p>Project Manager & Frontend</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>
            </div>

      </div>


      <div class="teammember col-md-4">
        <%= image_tag ("https://scontent-sea.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10378215_10152367601962986_3193726704373852760_n.jpg?oh=137c8838cc691f5c783a8ad548a70fe3&oe=5548214D"), class: "img-circle profile" %>
        <div class="info">
            <h5>Paulo Ancheta</h5>
            <p>GitHub Master & Back End</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

        <div class="teammember col-md-4">
        <%= image_tag ("profile_pics/warrick.jpg"), class: "img-circle profile" %>
        <div class="info">
            <h5>Warrick Gilbert</h5>
            <p>Developer</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

        <div class="teammember col-md-4">
         <%= image_tag ("profile_pics/ishan.jpg"), class: "img-circle profile" %>
        <div class="info">
            <h5>Ishan Okey</h5>
            <p>Back End & User authitencation</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

        <div class="teammember col-md-4">
        <%= image_tag ("https://avatars2.githubusercontent.com/u/9882057?v=3&s=460"), class: "img-circle profile" %>
        <div class="info">
            <h5>Brandyn Prasad</h5>
            <p>Back End Support</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

        <div class="teammember col-md-4">
        <%= image_tag ("profile_pics/tyler.jpg"), class: "img-circle profile" %>
        <div class="info">
            <h5>Tyler Nelson</h5>
            <p>front end</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

        <div class="teammember col-md-4">
        <%= image_tag ("profile_pics/ishan.jpg"), class: "img-circle profile" %>
        <div class="info">
            <h5>Derek</h5>
            <p>front end</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

       <div class="teammember col-md-4">
        <%= image_tag ("profile_pics/ishan.jpg"), class: "img-circle profile" %>
        <div class="info">
            <h5>Derek</h5>
            <p>front end</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

       <div class="teammember col-md-4">
        <%= image_tag ("profile_pics/ishan.jpg"), class: "img-circle profile" %>
        <div class="info">
            <h5>Derek</h5>
            <p>front end</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>

       <div class="teammember col-md-4">
        <%= image_tag ("profile_pics/ishan.jpg"), class: "img-circle profile" %>
        <div class="info">
            <h5>Derek</h5>
            <p>front end</p>
            <a href="#"><img src="http://neat.bourbon.io/images/github.png"></a>
            <a href="#"><img src="http://cdn.flaticon.com/png/256/23931.png"></a>
            <a href="#"><img src="http://www.clker.com/cliparts/L/Q/v/n/x/t/web-logo-md.png"></a>

        </div>
      </div>



  </div>

