<div class="jumbotron">

  <div class="col-md-5 homesplash medium-text white-text">
    

    <div class="large-text">Welcome to Codecore Drills, </div>

        <hr>
  
    a place to hone your programming
    skills doing a bunch of sweet drills.
    Bang out some lines, dummy some code, 
    sign up ya nutsack.

  </div>

  <div class="col-md-6 homesplash text-center">
    <%= image_tag ("codecore_drill.png") %>
  </div>

</div>

<div class="col-md-12 spacer"></div>

<div class="col-md-12">

  <div class="col-md-4 text-center poster">
    
    <%= image_tag ("link_images/ruby_drills.png"), class: "home-poster" %>

        <div class="col-md-12 text-center button">
          <%= image_tag ("link_images/ruby_drills_button.png"), class: "home-button" %>
        </div>

  </div>

  <div class="col-md-4 text-center poster">
   
    <%= image_tag ("link_images/javascript_drills.png"), class: "home-poster" %>

        <div class="col-md-12 text-center button">
          <%= image_tag ("link_images/javascript_drills_button.png"), class: "home-button" %>
        </div>

  </div>

  <div class="col-md-4 text-center poster">
   
    <%= image_tag ("link_images/htmlCSS_drills.png"), class: "home-poster" %>

        <div class="col-md-12 text-center button">
          <%= image_tag ("link_images/htmlCSS_drill_button.png"), class: "home-button" %>
        </div>

  </div>

</div>

<% if user_signed_in? %>
<h1> this will be the home page </h1>


  <% if current_user.is_admin %>
    <!-- it excludes the current user -->
    <%= link_to "Users", users_path %>
    <br>
    <%= link_to "Drill Groups", new_drill_group_path %>
  <% end %>
<% end %>

