<div class="col-md-12 spacer"></div>

<div class="col-md-12">
  <a href="<%#= tag_path(Tag.find 1) %>">
    <div class="col-md-4 text-center poster">    
      <%= image_tag ("link_images/ruby_drills.png"), class: "home-poster" %>
          <div class="col-md-12 text-center button">
            <%= image_tag ("link_images/ruby_drills_button.png"), class: "home-button" %>
          </div>
    </div>
  </a>

  <a href="<%#= tag_path(Tag.find 2) %>">
    <div class="col-md-4 text-center poster">
      <%= image_tag ("link_images/javascript_drills.png"), class: "home-poster" %>
          <div class="col-md-12 text-center button">
            <%= image_tag ("link_images/javascript_drills_button.png"), class: "home-button" %>
          </div>
    </div>
  </a>

  <a href="<%#= tag_path(Tag.find 3) %>">
    <div class="col-md-4 text-center poster">
      <%= image_tag ("link_images/htmlCSS_drills.png"), class: "home-poster" %>
          <div class="col-md-12 text-center button">
            <%= image_tag ("link_images/htmlCSS_drill_button.png"), class: "home-button" %>
          </div>
    </div>
  </a>

</div>
