<% if user_signed_in? %>
  <div class="pagesplash">
    <div class="large-text white-text text-center">
        <br>
        Welcome back, <%= current_user.first_name %>
    </div>
<hr>
    <div class="medium-text white-text text-center">
         hop on the drill train buddy.
    </div>

  </div>
<% end %>



<div class="col-md-12 spacer"></div>

<div class="col-md-12">

  <div class="col-md-4 text-center poster">
    
    <%= image_tag ("link_images/ruby_drills.png"), class: "home-poster" %>

        <div class="col-md-12 text-center button">
          <%= image_tag ("link_images/ruby_drills_button.png"), class: "home-button" %>
        </div>

  </div>

  <div class="col-md-4 text-center poster">
   
    <%= image_tag ("link_images/javascript_drills.png"), class: "home-poster" %>

        <div class="col-md-12 text-center button">
          <%= image_tag ("link_images/javascript_drills_button.png"), class: "home-button" %>
        </div>

  </div>

  <div class="col-md-4 text-center poster">
   
    <%= image_tag ("link_images/htmlCSS_drills.png"), class: "home-poster" %>

        <div class="col-md-12 text-center button">
          <%= image_tag ("link_images/htmlCSS_drill_button.png"), class: "home-button" %>
        </div>

  </div>

</div>
