$('#flash_message').html('');

<%# Display the flash messages if any %>
<%= "$('#flash_message').append('<div class=\"alert alert-success\">#{flash[:notice]}</div>');".html_safe if flash[:notice] %>
<%= "$('#flash_message').append('<div class=\"alert alert-danger\">#{flash[:alert]}</div>');".html_safe if flash[:alert] %>

<% unless @drill.errors.any? %>
  <%# Append the created Drill to the list of Drills %>
	$('#drill-group-drills').append("<%= j render partial: '/drill_groups/drill_list_item', locals: {drill: @drill} %>");
  <%# Change the title of the panel, and replace the Drill creation form with a plaintext version of the newly created Drill %>
  $('#new_drill_form').html('<strong><%= @drill.title %>:</strong> <%= @drill.description %>');
  $('.panel-title').text('Add a Solution(s) to this Drill');
  <%# Show the create associated Solution form %>
  $('#new_drill_solutions_form').append('<%= j render partial: "/drill_groups/new_drill_solutions_form", locals: { drill: @drill } %>');
<% end %>