<h1><%= @drill.title %></h1>
<p><%= @drill.description%></p>

<%= link_to "Edit Drill",  edit_drill_path(@drill), class: 'btn btn-primary' %>

<h3>Drill Solutions</h3>
<% @solutions.each do |solution| %>
	<%= solution.content %><br>
<% end %>


<%= link_to "Add Drill Solution", new_drill_solution_path(@drill), class: 'btn btn-primary' %>