<%#
  TODO
  ADMIN ONLY
  This form is redundant and already appears in the admin Drill Group show page.
%>

<%= form_for [@drill, @solution], class: "form-horizontal" do |f| %>
	<p><%= f.radio_button :exact_match, true %>Exact Match
  	<%= f.radio_button :exact_match, false %>Regex</p>

	<%= f.text_area :content, label: "Solution Description" %><br>
	<%= f.submit class: 'btn btn-submit' %>
<% end %>