<div class="navheader">


  <div class="col-md-2 text-center">
    <%= link_to image_tag("codecore_drill.png", :class => 'navlogo'), root_path %>
  </div>


  <div class="col-md-2 navbutton text-center">
    <%= link_to "All Drills", all_drills_path, class: "navlink"%>
  </div>

  <div class="col-md-2 navbutton text-center">
    <%= link_to "My Drills", my_drills_path, class: "navlink"%>
  </div>


  <div class="col-md-2 navbutton text-center">
    <%= link_to "About", about_path, class: "navlink" %>
  </div>

  <% if user_signed_in? %>

    <div class="col-md-2 navbutton text-center">
      <%= link_to "My Account", user_path(current_user), class: "navlink" %>
    </div>

    <div class="col-md-2 navbutton text-center">
      <%= link_to "Sign Out", sessions_path, method: :delete, class: "navlink" %>
    </div>
    
  <% else %>

    <div class="col-md-2 navbutton text-center">
      <%= link_to "Sign In", new_session_path, class: "navlink" %>
    </div>

    <div class="col-md-2 navbutton text-center">
      <%= link_to "Sign Up", new_user_path, class: "navlink" %>
    </div>

  <% end %>
  

</div>

<div class="liner">
  <hr>
</div>

<%# Added to display admin partial if current_user is admin %>
<% if user_signed_in? %>
<% if current_user.is_admin %>
  <%= render 'layouts/admin' %>
<% end %> 
<% end %>