<div class="navheader">


  <div class="col-md-2 text-center">
    <%= link_to image_tag("codecore_drill.png", :class => 'navlogo'), root_path %>
  </div>


  <div class="col-md-2 navbutton text-center">
    <%= link_to "All Drills", root_path, class: "navlink"%>
  </div>

  <div class="col-md-2 navbutton text-center">
    <%= link_to "My Drills", root_path, class: "navlink"%>
  </div>


  <div class="col-md-2 navbutton text-center">
    <%= link_to "About", root_path, class: "navlink" %>
  </div>

  <div class="col-md-2 navbutton text-center">
    <%= link_to "Contact", root_path, class: "navlink" %>
  </div>

  <div class="col-md-2 navbutton text-center">
    <%= link_to "Sign Out", root_path, class: "navlink" %>
  </div>

</div>
<!-- 
<div class="col-md-12 bluebar text-center">

<div class="col-md-4">
Users
</div>

<div class="col-md-4">
Admin Settings
</div>

<div class="col-md-4">
Drill Groups
</div>

</div> -->