<!DOCTYPE html>
<html>
<head>
  <title>Drillproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render '/layouts/navbar' %>

<%= "<div class=\"alert alert-success\">#{flash[:notice]}</div>".html_safe if flash[:notice] %>
<%= "<div class=\"alert alert-danger\">#{flash[:alert]}</div>".html_safe if flash[:alert] %>

<% unless user_signed_in? %>
  <%= render '/home/no_user' %>
<% end %>

<div class="container container-fluid">
  <%= yield %>
</div>



</body>
</html>
