<!DOCTYPE html>
<html>
<head>
  <title>Drillproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/menu' %>


<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<div class="container container-fluid">
  <%#= link_to "Drills index", drills_path %> 
  <%#= link_to "New Drill", new_drill_path %> 
  <%#= link_to "Drills index path", drills_path %> 
  <%#= link_to "New Drill", new_drill_path %> 
  <%#= link_to "New Drill Solution", new_solution_path %>
  <%= yield %>

</div>


</body>
</html>
