<!DOCTYPE html>
<html>
<head>
  <title>Drillproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar">
  <div class="container-fluid">

  <div class="navbar-header">
    <%= link_to image_tag("drilllogo.jpg", :class => 'navbar-brand'), root_path %>
  </div>

  <% if user_signed_in? %>
  <div class="navbar-left ">
    <%= link_to "All Drills", drills_path %>
    <%= link_to "My Drills", drills_path %>
  </div>  
    <div class="navbar-right">
    <p class="navbar-text">Welcome <%= current_user.first_name %></p>
      <span class="btn btn-default navbar-btn"><%= link_to "Sign Out", sessions_path, method: :delete%></span>
    </div>
    <% elsif user_signed_in? && user.is_admin %>
     <div class="navbar-left ">
    <%= link_to "Make Drills", drills_path %>
    <%= link_to "All Drills", drills_path %>
  </div>
    <div class="navbar-right">
    <p class="navbar-text">Welcome <%= current_user.first_name %></p>
      <span class="btn btn-default navbar-btn"><%= link_to "Sign Out", sessions_path, method: :delete%></span>
    </div>
  <% else %>
    <div class="navbar-right" >
      <button class="btn btn-default navbar-btn"><%= link_to "Sign In", new_session_path %></button>
      Or
      <button class="btn btn-default navbar-btn"><%= link_to "Sign Up", new_user_path %></button>
    </div>
  <% end %>
  <div class="navbar-left">
    <%= link_to "About", drills_path %>
    <%= link_to "Contact", drills_path %>
  </div>
  </div>
</nav>
<hr id="navline">


<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<div class="container container-fluid">
  <%#= flash[:notice] || flash[:alert] %>
  <%= link_to "Drills index", drills_path %> |
  <%= link_to "New Drill", new_drill_path %>

  <%= yield %>
</div>

</body>
</html>
